<h1>Them moi sach</h1>
<form method="post">
    Tên sách: <input type="text" name="book_name"> <br>
    Giá tiền: <input type="number" name="book_price"> <br>
    Tác giả : <input type="text" name="book_author"> <br>
    <button type="submit">Thêm sách</button>
</form>