<h1>Xóa Book</h1>
Bạn có muốn xóa: <b>{{itemBook.name}}</b>
<form action=""method="post">
    <button type="submit">Đồng ý xóa</button>
    <a href="/book" class="btn btn-default">Không xóa</a>
</form>