<h1>Sửa thông tin Book</h1>
<form method="post" action="">
    tên sách : <input type="text" name="book_name" value="{{itemBook.name}}"> <br>
    giá tiền : <input type="number" name="book_price" value="{{itemBook.price}}"> <br>
    tác giả : <input type="text" name="book_author" value="{{itemBook.author}}"> <br>
    <button type="submit">Cập nhập sách</button>
</form>